.fontOpenSans {
  font-family: "Open Sans";
}

.fontMontserrat {
  font-family: "Montserrat";
}

.fontInter {
  font-family: "Inter";
}

.fontRaleway {
  font-family: "Raleway";
}

.lineh15{
  line-height: 1.15em;
}

.lineh25{
  line-height: 1.25em;
}
