.h-70vh {
  height: 70vh;
}
.min-h-70vh {
  min-height: 70vh;
}
.h-80vh {
  height: 80vh;
}
.min-h-80vh {
  min-height: 80vh;
}
.h-90vh {
  height: 90vh;
}
.h-100vh {
  height: 100vh;
}

.min-h-100vh {
  min-height: 100vh;
}

.h-110vh {
  height: 110vh;
}

.h-120vh {
  height: 120vh;
}

.h-fit {
  height: fit-content;
}
