.app {
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto;
}

@media (max-width: 1024px) {
  .grid-container-3 {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 700px) {
  .grid-container-3 {
    display: flex;
    flex-direction: column;
  }
}
